.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
 
    border-radius: 0.5rem;
    
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin-right: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.25rem;
}

span {
    color: #555;
}

.error {
    color: red;
    font-weight: bold;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 0.5rem;
    background-color: #ffe6e6;
}