.table-style {
    width: 100%;
    border-collapse: collapse;
}

.table-style th, .table-style td {
    border: 1px solid #d8dde6;
    padding: 0.75rem;
    text-align: left;
}

.table-style th {
    background-color: #f3f6f9;
    font-weight: bold;
}