.custom-TextArea-Max-Width{
    max-height: 100px;
    
}
.custom-footer{
    /*position:fixed;*/
    position: absolute;
    /*margin-top: 150px;*/
    display: flex;
    justify-content: right;
    padding: var(-lwc-spacingXSmall,0,0.5rem) 0;
    bottom: 1;
    left: 0;
    width: 100%;
    background: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackground,rgb(243, 243, 243)));
    /*box-shadow: var(--lwc-shadowDocked,0 -2px 2px 0 rgba(0, 0, 0, 0.16));*/
    /*z-index: var(--lwc-zIndexOverlay,8000);*/
}