.THIS .layout1{
    width:75%;
    font-family: abcl-font;
}
.THIS .layout2{
    width:25%;
}

.columnWidth{
    width:25%;
    font-family: abcl-font;
}

@font-face {
    font-family: 'ABCL_AnekLatin_Font';
    src: url(/resource/ABCL_AnekLatin_Font) format('truetype');
}

.abcl-font {
    font-family: 'ABCL_AnekLatin_Font', sans-serif;
}