article.slds-grid_horizontal-stretch{
    height: 100%;
}
.buttons{
    margin-top: 20pt;
    margin-bottom: 5pt;
    margin-left: 20pt;
    width: 100%;
    margin-right: -10pt;
    padding-left: 5pt;
}
.upload{
    margin-top: 20pt;
    
}
.file{
    margin-left: 100pt;
}
.box1{
     height: 220pt;
     margin-left: 10pt;
     margin-right: 10pt;
}

.box2{
     height: 10pt;
     margin-left: 10pt;
}

.box3{
     height: auto;
     margin-left: 10pt;
     margin-right: 10pt;
}