.custom-scroll-allow {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.slider {
    cursor: auto;
    overflow: hidden;
    overflow-y: auto;
    height: 9rem;
}

.slider::-webkit-scrollbar {
    width: 5px;
    pointer-events: auto;
}

/* Track */
.slider::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(243, 242, 242);
    border-radius: 10px;
}

/* Handle */
.slider::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
    cursor: pointer
}

/* Handle on hover */
.slider::-webkit-scrollbar-thumb:hover {
    background: #b30000;
    cursor: pointer;
}

.card {
    color: black;
    border-radius: 0.25rem;
    font-family: Anek Latin;
}


.box-borders {
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: #C7222A;
    border-width: thin;
}

.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Make sure the spinner appears above content */
}

.purple-icon {
    --sds-c-icon-color-foreground: white;
    --sds-c-icon-color-background: #7C2279;
}

.custom-border {
    border: 1px solid #100d0c; /* Add a black border */
    border-radius: 1.5px;       /* Optional: smooth the edges */
    padding: 0.5rem;
    height: 1.5em;          /* Optional: adjust padding for spacing */
}

.clickable {
    cursor: pointer;
  }

  .brandColoredButton{
    --sds-c-button-brand-color-background: #C7222A;
    --sds-c-button-brand-color-border: #C7222A;
    --sds-c-button-brand-color-background-hover: #C7222A;
    --sds-c-button-brand-color-border-hover: #C7222A;
  }