.disabled-Link{
    color : gray;
    pointer-events: none;
    cursor: default;
}
.intPanel{
    background-color: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackground,rgb(243, 243, 243)));
    border-radius: 5px;
}

.multiColumnTable{
    table-layout: fixed;
    width: 1200px;
}

.singleColumnTable{
    table-layout: fixed;
}

.deleteCol{
    width: 3.5%;
}