.disabled-Link{
    color : gray;
    pointer-events: none;
    cursor: default;
}
.intPanel{
    background-color: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackground,rgb(243, 243, 243)));
    border-radius: 5px;
}

.multiColumnTable{
    table-layout: fixed;
    width: 1200px;
}

.singleColumnTable{
    table-layout: fixed;
}

.deleteCol{
    width: 3.5%;
}

.custom-small-button{
    font-size: 15px;  /* Smaller font size */
    padding: 5px 10px;  /* Smaller padding */
    min-width: 50px;   /* Minimum width */
    height: 15px;
}